  {% set volunteerIndex = craft.entries.section('volunteer').first %}
  {% set blockstyle = 'gray' %}
  {% include '_default_block_start.html' %}
    <h2>{{ volunteerIndex.longTitle }}</h2>
    <img src="{{ volunteerIndex.photo.first.getUrl(fit100) }}" class="pull-left">
    {{ volunteerIndex.body }}
    {% set pages = craft.entries.section('volunteerForms').level(0) %}
    <ul class="volunteerlinks">
      {% for page in pages %}
        <li><a href="{{ page.getUrl() }}" {% if page.getUrl() == entry.url %}class="active"{% endif %}> {{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% include '_default_block_end.html' %}
