{% extends "_layout" %}

{% block head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "071f6c24-03bf-475d-b502-0ab1ccb7e448", doNotHash: true, doNotCopy: false, hashAddressBar: false, onhover: false});</script>
<link type="text/css" href="/assets/css/atc-base.css" rel="stylesheet">
{% endblock %}

{% block submenu %}
<h1>events</h1>
{% endblock %}

{% block blocks %}
<script type="text/javascript">(function () {
  if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
  if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
    var h = d[g]('body')[0];h.appendChild(s); }})();
</script>
{% set blockstyle = 'orange eventbg' %}
{% include '_default_block_start.html' %}
{% set tablecolumnclass = 'colhalf' %}
{% if entry.rideDifficulty != "" %}
  {% set tablecolumnclass = 'colthird' %}
{% endif %}
  <div class="row evententry">
    <div class="col-md-6">
      <div class="essentials">
        <h2>{{ entry.title }}</h2>
        <div id="startdatetime">
          {{ entry.startDateTime | date("l, F jS, g:ia") }}
        </div>
      </div>
      <div id="eventinfo">
        <table>
          <tr>
            <th class="{{ tablecolumnclass }}">Type</th>
            <th class="{{ tablecolumnclass }}">Meet at</th>
            {% if entry.rideDifficulty != "" %}
            <th class="{{ tablecolumnclass }}">Skill Level</th>
            {% endif %}
          </tr>
          <tr>
            <td>
            {% for etrack in entry.track %}
              {{ etrack|capitalize }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </td>
            <td>
              {{entry.startingLocation}}
            </td>
            {% if entry.rideDifficulty != "" %}
            <td>
              {{ entry.rideDifficulty|capitalize }}
            </td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div id="description">
        <h3>Description</h3>
        {{ entry.description }}
      </div>
    </div>
    <div class="col-md-5">
      <div id="eventimage">
        {% set fit500 = { mode: 'fit', width: 500, height:500 } %}
        {% for image in entry.photo %}
          <img src="{{ image.getUrl(fit500) }}" alt="{{ image.title }}">
        {% endfor %}
      </div>
      <div id="sharethis">
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
    <span class="addtocalendar atc-style-blue">
        <a class="atcb-link">
          <img src="/images/cal-bw-01.png" width="32">
        </a>
        <var class="atc_event">
            <var class="atc_date_start">2016-05-04 12:00:00</var>
            <var class="atc_date_end">2016-05-04 18:00:00</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">Star Wars Day Party</var>
            <var class="atc_description">May the force be with you</var>
            <var class="atc_location">Tatooine</var>
            <var class="atc_organizer">Luke Skywalker</var>
            <var class="atc_organizer_email">luke@starwars.com</var>
        </var>
    </span>
        {% if entry.facebookId is not empty %}
        <span class='rsvp'><a href="https://www.facebook.com/events/{{ entry.facebookId }}">RSVP on Facebook</a></span>
        {% endif %}
      </div>
    </div>
    <div class="col-md-1 hidden-xs hidden-sm xclose">
      {% if craft.request.getUrlReferrer() matches '/events/i' %}
        <a href="javascript:window.history.back()">
      {% else %}
        <a href="/events">
      {% endif %}
      X</a>
    </div>
  </div>
  {% if entry.gmap is not empty %}
  <div id="mapcontainer">
    <h3>Starting Point</h3>
    <div id="map">
      {{ entry.gmap }}
    </div>
  </div>
  {% endif %}
{% include '_default_block_end.html' %}
{% endblock %}
