{% extends "_layout" %}

{% block head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "071f6c24-03bf-475d-b502-0ab1ccb7e448", doNotHash: true, doNotCopy: false, hashAddressBar: false, onhover: false});</script>
{% endblock %}

{% block submenu %}
<h1>events</h1>
{% endblock %}

{% block contentclass %}orange{% endblock %}
{% block content %}
  <h2>{{ entry.title }}</h2>
  <div id="startdatetime">
    {{ entry.startDateTime | date("l, F jS, g:ia") }}
  </div>
  <div id="eventimage">
    {% for image in entry.photo %}
      <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.title }}">
    {% endfor %}
  </div>
  <div id="eventinfo">
    <div id="type">
      {% for etrack in entry.track %}
        {{ etrack }}
      {% endfor %}
    </div>
    <div id="meetat">
    </div>
    <div id="difficulty">
      {{ entry.rideDifficulty }}
    </div>
  </div>
  <div id="description">
    {{ entry.description }}
  </div>
  <div id="sharethis">
    <span class='st_sharethis_large' displayText='ShareThis'></span>
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
  </div>
  <div id="map">
    {{ entry.gmap }}
  </div>
{% endblock %}

