{% extends "_layout" %}

{% block head %}
  <style>
    .events_grid { padding-top: 40px; }
    .events_grid_item { width: 20%; height: 100px; background-color: #2d8cea; margin-right: 20px; margin-bottom: 20px; padding: 15px;}
    .is-checked {background-color: #2d8cea;}
    a { color: white }
  </style>
{% endblock %}

{% block submenu %}
<h1>events</h1>
{% endblock %}
{% block contentclass %}gray{% endblock %}
{% block content %}
<h2>Filter</h2>
<div id="filters">
  <div class="date-group">  
    <h3>Dates</h3>
    <a href="#date=*">all dates</a>
    <a href="#date=.Jun11">June 11</a>
    <a href="#date=.Jun12">June 12</a>
    <a href="#date=.Jun13">June 13</a>
    <a href="#date=.Jun14">June 14</a>
    <a href="#date=.Jun15">June 15</a>
    <a href="#date=.Jun16">June 16</a>
    <a href="#date=.Jun17">June 17</a>
  </div>
  <div class="track-group">
  <h4>Tracks</h4>
    <a href="#track=">all</a>
    <a href="#track=.ride">ride</a>
    <a href="#track=.advocacy">advocacy</a>
    <a href="#track=.party">party</a>
    <a href="#track=.tech">tech</a>
    <a href="#track=.art">art</a>
  </div>
  <div class="difficulty-group">
    <h5>Difficulty</h5>
    <a href="#difficulty=" id="difficulty-all">all</a>
    <a href="#difficulty=.easy">easy</a>
    <a href="#difficulty=.medium">medium</a>
    <a href="#difficulty=.difficult">difficult</a>
  </div>
</div>

<div class="events_grid"> 
{% for entry in craft.entries.section('events') %}
<div class="events_grid_item {% for track in entry.track %}{{track}} {% endfor %} {{entry.startDateTime | date('Mj')}} {{ entry.rideDifficulty }}"><a href="{{ entry.url }}">{{ entry.title }}</a>
</div>
{% endfor %}
</div>

{% endblock %}

{% block scripts %}

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="/assets/js/lib/jquery.ba-bbq.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
  <script src="/assets/js/events.js"></script>
{% endblock %}

