{% extends "_layout" %}

{% block submenu %}
  <ul>
    <li>sponsors</li>
    <li><a href="/sponsors/sponsor-the-festival">sponsor the festival</a></li>
  </ul>
{% endblock %}

{% block contentclass %}gray{% endblock %}
{% block content %}
<h2>The Whole Bike</h2>
<ul>
{% for sponsor in entry.sponsors4 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}
</ul>
<h2>Drivetrain</h2>
<ul>
{% for sponsor in entry.sponsors3 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}
</ul>
<h2>Big Ring</h2>
<ul>
{% for sponsor in entry.sponsors2 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}
</ul>
<h2>Little Ring</h2>
<ul>
{% for sponsor in entry.sponsors1 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}
</ul>

{% endblock %}
