{% extends "_layout" %}

{% block submenu %}
  <ul>
    <li>sponsors</li>
    <li><a href="/sponsors/sponsor-the-festival">sponsor the festival</a></li>
  </ul>
{% endblock %}

{% block blocks %}
{% set blockstyle = 'gray' %}
{% include '_default_block_start.html' %}
<h2>The Whole Bike</h2>

{% for sponsor in entry.sponsors4 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}

<h2>Drivetrain</h2>

{% for sponsor in entry.sponsors3 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}

<h2>Big Ring</h2>

{% for sponsor in entry.sponsors2 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}

<h2>Little Ring</h2>
{% for sponsor in entry.sponsors1 %}
  {% include 'sponsors/_sponsor.html' %}
{% endfor %}

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
  <filter id="greyscale">
    <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0
      0.3333 0.3333 0.3333 0 0
      0.3333 0.3333 0.3333 0 0
      0 0 0 1 0" />
    </filter>
</svg>
{% include '_default_block_end.html' %}
{% endblock %}

