{% extends "_layout" %}

{% block submenu %}
  <div><a href="/sponsors/">sponsors</a></div>
  <div><h1>sponsor the festival</h1></div>
{% endblock %}

{% block blocks %}
  {% set blockstyle = 'gray sponsorbg2a' %}
  {% include '_default_block_start.html' %}
    {{ entry.body }}
    {% for level in entry.sponsorshipLevels %}
      <div class="sponsorLevel col-sm-3">
        {% for image in level.levelImage %}
          <img src="{{ image.getUrl() }}" alt="{{ image.title }}" width="{{ image.width }}" height="{{ image.height }}">
        {% endfor %}
        <img src="">
        <h3>{{ level.levelName }}</h3>
        <div class="amount">
          {% if level.sponsorshipAmount > 0 %}
            ${{ level.sponsorshipAmount }}
          {% else %}
            $TBD
          {% endif %}
        </div>
        <div class="benefits">
          {{ level.benefits }}
        </div>
      </div>
    {% endfor %}
  {% include '_default_block_end.html' %}
  <div class="section green sponsorbg2b">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <a name="signup"></a>
          <form>
          <h2>Fill the form</h2>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="level">Which level do you want to learn more about?</label>
            <select name="level" id="level" class="form-control">
              {% for level in entry.sponsorshipLevels %}
              <option value="{{ level.levelName }}">{{ level.levelName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="form-control" value="send">
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
