    .events_grid { 
      padding-top: 50px; 
      a {
        color: #666666;
        &:hover {
          color: #000000;
        }
      }
    }

    .events_grid_item { position: relative; margin-right: 20px; margin-bottom: 20px; }

    .selected {background-color: #2d8cea;}

    .event-caption { 
      position: absolute; 
      bottom: 0px; 
      background-color: rgba(255, 255, 255, 0.8); 
      width: 100%; 
    }

    .capsize0 {
      font-size: 1.2rem;
      padding: 3px;
    }

    .capsize1 {
      font-size: 1.5rem;
      padding: 5px;
    }

    .capsize2 {
      font-size: 2.2rem;
      padding: 10px;
    }


    #filters a { color: blue }

    .button { background-color: #666666; }
