    .events_grid { padding-top: 40px; }
    .events_grid_item { width: 20%; height: 100px; background-color: #2d8cea; margin-right: 20px; margin-bottom: 20px; padding: 15px;}
    .selected {background-color: #2d8cea;}
    a { color: white }
    #filters a { color: blue }
    .button { background-color: #666666; }
