/********************************/
/********** INDEX ***************/
/********************************/

    .events_grid { 
      padding-top: 50px; 
      a {
        color: #666666;
        &:hover {
          color: #000000;
        }
      }
    }

    .events_grid_item { position: relative; margin-right: 20px; margin-bottom: 20px; }

    .selected {
      background-color: $blue;
      color: #ffffff;
    }

    .event-caption { 
      position: absolute; 
      bottom: 0px; 
      background-color: rgba(255, 255, 255, 0.8); 
      width: 100%; 
    }

    .capsize0 {
      font-size: 1.2rem;
      padding: 3px;
    }

    .capsize1 {
      font-size: 1.5rem;
      padding: 5px;
    }

    .capsize2 {
      font-size: 2.2rem;
      padding: 10px;
    }


    #filters {
      ul {
        clear: both;
        margin: 0;
        padding: 1em 0 0 0;
        list-style-type: none;
        font-style: italic;
        &.nav-tabs {
          li {
            margin-right: 4px;
            a {
              font-size: 1.8rem;
              background-color: #cccccc;
              border:none;
              border-bottom: 4px solid $gray;
              border-radius: inherit;
            }
            &.active {
              a {
                background-color: #cccccc;
                border:none;
                border-bottom: 4px solid #cccccc;
                border-radius: inherit;
              }
            }
          }
        }
        li {
          display: inline;
          font-size: 2.8rem;
          a {
            color: $darkergray;
            text-decoration: none;
            padding: .2em 1em;
            &:hover {
              background-color: $blue;
              color: #ffffff;
            }
            &.selected {
              color: #ffffff;
            }
          }
        }
      } 
    }

    .tab-pane {
      background-color: #cccccc;
      padding: 0 1rem 1rem 2rem;
      ul {
        li {
          margin-right: 1rem;
          a {
            font-size: 1.5rem;
            background-color: #ffffff;
            &.selected {
              background-color: $blue;
            }
          }
        }
      }
    }

    .button { background-color: #666666; }

    #no-results {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: $orange;
      padding: 3rem;
      display: none;
    }

/********************************/
/********** ENTRY ***************/
/********************************/

  #eventimage {
    img {
      width: 90%;
      max-width: 90%;
      height: auto;
      border: 10px solid #ffffff;
    }
  }

  .evententry {
    .essentials, #description {
      padding-left: 1.5rem;
    }
    h2 {
      font-size: 5rem;
      color: #ffffff;
      font-style: italic;
    }
    #startdatetime {
      font-size: 2rem;
      font-style: italic;
      margin-bottom: 2rem;
    }
    #eventinfo {
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      padding: 1.5rem;
      table {
        width: 100%;
      }
      .colhalf {
        width: 50%;
      }
      .colthird {
        width: 33%;
      }
    }
  }

  #sharethis {
    margin: 1rem; 
  }

  .xclose a {
    font-size: 6rem;
    color: #000000;
    &:hover {
      text-decoration: none;
    }
  }
  
  #mapcontainer {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    h3 {
      font-size: 5rem;
      color: #ffffff;
      font-style: italic;
    }
  }  