.formbuilder {
  &.orange {
    color: $white;
  }
  .container {
    width: 80%;
  }

  legend {
    padding-bottom: 1.5em;
    font-style: italic;
    border: none;
  }

  label {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 5px;
    &.required {
      &::after {
        content: " *";
        color: red;
      }
    }
  }

  input[type=PlainText], input[type=text], input[type=email], textarea {
    height: 34px;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 0px;
    box-shadow: none;
    &:focus {
      border-color: #000000;
      outline: none;
      box-shadow: none;
    }
  }

  &.white, &.gray {
    input[type=PlainText], input[type=text], input[type=email], textarea {
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
    }
    .redactor-box {
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000; 
    }
    button[type=submit] {
      border: 1px solid black;
    }
  }

  input, textarea, select {
    width: 100%;
    background-color: transparent;
    padding: 6px 12px 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  textarea {
    height: 90px;
  }

  .field {
    margin-bottom: 15px;
  }

  .instructions {
    font-size: 0.8em;
  }

  select {
    height: 34px;
    color: black;
    background-color: $white;
  }

  button[type=submit],input[type=submit] {
    width: 100%;
    background-color: $gray;
    color: #000000;
    padding: 0.7em;
    margin: 2em 0em 2em 0em;
    height: auto;
    text-transform: uppercase;
    border: none;
    border: 1px solid white;
  }
}