.events_grid {
  padding-top: 50px; }
  .events_grid a {
    color: #666666; }
    .events_grid a:hover {
      color: #000000; }

.events_grid_item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px; }

.selected {
  background-color: #2d8cea; }

.event-caption {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 10px; }

#filters a {
  color: blue; }

.button {
  background-color: #666666; }

body {
  padding-top: 5rem; }

.orange {
  background-color: #FDA879; }

.gray {
  background-color: #ededed; }

.green {
  background-color: #8EEB81; }

.white {
  background-color: #ffffff; }

.blue {
  background-color: #338EE7; }

/********************************/
/********** NAV BAR *************/
/********************************/
.navbar {
  background-color: #ededed;
  height: 5rem;
  min-height: 5rem;
  border-radius: 0px;
  border-bottom: none; }

.navbar-inverse {
  /***** hamburger menu icon ******/ }
  .navbar-inverse .navbar-brand {
    color: #aaaaaa; }
    .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
      color: #999999; }
  .navbar-inverse .navbar-nav {
    font-size: 1.1rem;
    margin-top: 0px;
    background-color: #ededed; }
    .navbar-inverse .navbar-nav > li > a {
      text-transform: uppercase;
      color: #000000; }
      .navbar-inverse .navbar-nav > li > a:hover {
        color: #FDA879; }
    .navbar-inverse .navbar-nav > .active > a {
      background-color: #FDA879; }
      .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #FDA879; }
  .navbar-inverse .navbar-toggle {
    border-color: #000000; }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: #FDA879; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #000000; }

/********************************/
/********** SUB MENU ************/
/********************************/
.submenu h1 {
  text-transform: lowercase;
  display: inline-block;
  float: left; }
.submenu .tagline {
  color: #ededed;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: italic; }
.submenu li {
  text-transform: lowercase;
  font-size: 3rem;
  margin-left: 10rem;
  margin-top: 2rem;
  display: inline-block;
  float: left; }
  .submenu li a {
    color: #999999; }

/********************************/
/********** SPONSORS ************/
/********************************/
.sponsorImg {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  transition: 1s; }
  .sponsorImg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none; }

/*** homepage ***/
.featured {
  position: relative; }
  .featured div {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    position: absolute; }
    .featured div.no0 {
      width: 100px;
      height: 100px;
      top: 15px;
      left: 300px; }
    .featured div.no1 {
      width: 150px;
      height: 150px;
      top: 200px;
      left: 20px; }
    .featured div.no2 {
      width: 200px;
      height: 200px;
      top: 100px;
      left: 400px; }
    .featured div.no3 {
      width: 250px;
      height: 250px;
      top: 250px;
      right: 20px; }

/*# sourceMappingURL=sitewide.css.map */
