@import 'variables';
@import 'events';

body {
  padding-top: 5rem;
}

.orange {
  background-color: $orange;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.white {
  background-color: $white;
}

.blue {
  background-color: $blue;
}  

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/********************************/
/********** NAV BAR *************/
/********************************/

.navbar {
  background-color: $gray;
  height: 5rem;
  min-height: 5rem;
  border-radius: 0px; 
  border-bottom: none;
}

.navbar-inverse {
  .navbar-brand {
    color: $brandgray;
    &:focus, &:hover {
      color: $submenugray;
    }
  }
  .navbar-nav {
    font-size: 1.1rem;
    margin-top: 0px;
    background-color: $gray;
    > li > a {
      text-transform: uppercase;
      color: #000000;
      &:hover {
        color: $orange;
      }
    }
    >.active>a {
      background-color: $orange;
      &:hover {
        background-color: $orange;
      }
    }
  }
  /***** hamburger menu icon ******/
  .navbar-toggle {
    border-color: #000000;
    &:focus, &:hover {
      background-color: $orange;
    }
    .icon-bar {
      background-color: #000000;
    }
  }
}

/********************************/
/********** SUB MENU ************/
/********************************/

.submenu {
  h1 {
    text-transform: lowercase;
    display: inline-block;
    float: left;
  }
  .tagline {
    color: $gray;
    text-transform: uppercase;
    font-size: 4rem;
    font-style: italic;
  }
  li {
    text-transform: lowercase;
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 2rem;
    display: inline-block;
    float: left;
    a {
      color: $submenugray;
    }
  }
}

/********************************/
/********** SPONSORS ************/
/********************************/

.sponsorImg {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  transition: 1s;
  max-width: 100%;
  height: auto;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }
}

/*** homepage ***/

.featured {
  position: relative;
  a {
    color: #000000;
  }

  > a > div {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 0px 8px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 0px 8px rgba(255, 255, 255, 1);

    > div {
      text-align: center;
      vertical-align: middle;
      opacity: 0;
      background-position: 50%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      &:hover {
        opacity: 1;
      }
    }

    &.no0, &.no0 div {
      width: 100px;
      height: 100px;
      line-height: 100px;
      top: 15px;
      left: 50%;
    }

    &.no1, &.no1 div {
      width: 150px;
      height: 150px;
      line-height: 150px;
      top: 200px;
      left: 30%;
    }

    &.no2, &.no2 div {
      width: 200px;
      height: 200px;
      line-height: 200px;
      top: 100px;
      left: 70%;
    }

    &.no3, &.no3 div {
      width: 250px;
      height: 250px;
      line-height: 250px;
      top: 250px;
      right: 10%;
    }
  }
}

