@import 'variables';
@import 'events';

body {
  padding-top: 5rem;
}

.orange {
  background-color: $orange;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.white {
  background-color: $white;
}

.blue {
  background-color: $blue;
}  

/********************************/
/********** NAV BAR *************/
/********************************/

.navbar {
  background-color: $gray;
  height: 5rem;
  min-height: 5rem;
  border-radius: 0px; 
  border-bottom: none;
}

.navbar-inverse {
  .navbar-brand {
    color: $brandgray;
    &:focus, &:hover {
      color: $submenugray;
    }
  }
  .navbar-nav {
    font-size: 1.1rem;
    margin-top: 0px;
    background-color: $gray;
    > li > a {
      text-transform: uppercase;
      color: #000000;
      &:hover {
        color: $orange;
      }
    }
    >.active>a {
      background-color: $orange;
      &:hover {
        background-color: $orange;
      }
    }
  }
  /***** hamburger menu icon ******/
  .navbar-toggle {
    border-color: #000000;
    &:focus, &:hover {
      background-color: $orange;
    }
    .icon-bar {
      background-color: #000000;
    }
  }
}

/********************************/
/********** SUB MENU ************/
/********************************/

.submenu {
  h1 {
    text-transform: lowercase;
    display: inline-block;
    float: left;
  }
  .tagline {
    color: $gray;
    text-transform: uppercase;
    font-size: 4rem;
    font-style: italic;
  }
  li {
    text-transform: lowercase;
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 2rem;
    display: inline-block;
    float: left;
    a {
      color: $submenugray;
    }
  }
}