/********************************/
/********** SPONSORS ************/
/********************************/

.sponsorImg {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  transition: 1s;
  max-width: 100%;
  height: auto;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
  }
}

/********************************/
/********** BECOME A SPONSOR ****/
/********************************/

.sponsorLevel {
  h3, .amount {
    font-size: 2.5em;
    font-style: italic;
    line-height: 1em;
  }
  ul {
    padding-left: 20px;
  }
  img {
    width: 80%;
    max-width: 80%;
    height: auto;
  }
}


@media (max-width: 768px) {
  .sponsorLevel img {
    width: auto;
    max-width: none;
    height: auto;
  }
}
