$white:   #ffffff;
$black:   #000000;
$blue:    #2D8CEA;
$green:   #8ed681;
$orange:  #FDA879;
$gray:    #ededed;
$tagline: #e2e2e2;
$submenu: #a6a6a6;
$filterbg: #dbdbdb;
$eventsnav: #454545;
$volunteernav: #4a4a4a;
$facebookbg: #3b5998;
$facebookbg2: #3b5998;