<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}

    {% block head %}
    {% endblock %}

    {% include 'blog/_layout-head.twig' %}
  </head>
  <body>
    {% include '_nav.html' %}
    {% include '_header_start.html' %}
      <div class="submenu">
        <h1>Blog</h1>
      </div>
    {% include '_header_end.html' %}

    <div class="section gray"> 
      <div class="container blockyblock">
        <div class="row">
          <div class="col-md-9 blog-content">
            {% block blocks %}
            {% endblock %}
          </div>
          <div class="col-md-3 blog-sidebar">
            {% include 'blog/_aside.twig' %}
          </div>
        </div>
      </div>
    </div>
    {% include '_footer.html' %}
    {% include '_scripts.html' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>

