{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% block blocks %}
<section id="instablog">

  {% if craft.request.segment(3) == '' %}

    <article>
      <h2>Category</h2>
      <p>Browse categories below:</p>
      <ul>
        {% nav category in craft.categories.group('instaBlogCategories') %}
          <li>
            <a href="{{ category.url }}">{{ category.title }}</a>
            {% ifchildren %}
              <ul>
                {% children %}
              </ul>
            {% endifchildren %}
          </li>
        {% endnav %}
      </ul>
    </article>

  {% else %}

    {% paginate craft.entries.section('instaBlog').relatedTo(category).limit(10) as entries %}  

      {% if entries|length %}
        <article>
          <h2>Category: &ldquo;{{ category.slug|title }}&rdquo;</h2>
          {{ category.instaBlogBody }}
        </article>

        {% include 'blog/_entries.twig' %}

      {% else %}
        {% include 'blog/_not-found.twig' with {'type': 'category'} %}
      {% endif %}

      {% endpaginate %}
    {% endif %}

</section>
{% endblock %}