{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% block submenu %}
  {% include 'blog/_submenu.html' %}
{% endblock %}

{% block blocks %}
<section id="instablog">
  {% paginate craft.entries.section('instaBlog').limit(10) as entries %}
    {% include 'blog/_entries.twig' %}
  {% endpaginate %}
</section>
{% endblock %}
