  {% for block in entry.blocks %}
  <div class="section {{ block.style }} {{ block.class }}">
    <div class="container blockyblock">
      {% if block.anchor %}
        <a name="{{ block.anchor }}"></a>
      {% endif %}
      {% if block.heading %}
        <h2>{{ block.heading }}</h2>
      {% endif %}
      {% if (craft.request.firstSegment == "thank-you") and (craft.session.hasFlash('success')) %}
        <p>{{ craft.session.getFlash('success') | raw }}</p>
      {% else %}
        {{ block.text }}
      {% endif %}
      {% if block.formHandle != "" %}
        {% set form = craft.formBuilder2.getFormByHandle(block.formHandle) %}
        {% set formSettings = form.formSettings %}
        {% set spamProtectionSettings = form.spamProtectionSettings %}
        {% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
        {% set scripts = craft.formBuilder2.includeScripts(form) %}
        {% include '_form.html' %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
