  {% for block in entry.blocks %}
  <div class="section {{ block.style }} {{ block.class }}">
    <div class="container blockyblock">
      {% if block.anchor %}
        <a name="{{ block.anchor }}"></a>
      {% endif %}
      {% if block.heading %}
        <h2>{{ block.heading }}</h2>
      {% endif %}
      {% if (craft.request.firstSegment == "thank-you") and (craft.session.hasFlash('success')) %}
        <p>{{ craft.session.getFlash('success') | raw }}</p>
      {% else %}
        {{ block.text }}
      {% endif %}
      {% if block.formHandle != "" %}
        {{ craft.freeform.form(block.formHandle).render() }}
      {% endif %}
    </div>
  </div>
  {% endfor %}
