  <div id="footer" class="section blue">
    <div class="container blockyblock">
      <a href="https://www.facebook.com/AtlantaCyclingFestival"><i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/AtlCyclingFest"><i class="fa fa-twitter-square"></i></a>
      <a href="http://instagram.com/AtlCyclingFest"><i class="fa fa-instagram"></i></a>
      <a href="https://www.etsy.com"><i class="fa fa-etsy"></i></a>
      <a href="https://www.linkedin.com/company/the-atlanta-cycling-festival"><i class="fa fa-linkedin-square"></i></a>
      <a href="mailto:twowheelsgood@atlantacyclingfestival.com"><i class="fa fa-envelope"></i></a>
      <a href="#top"><i class="fa fa-arrow-circle-o-up"></i> <span class="backtotop">Back to top</span></a>
    </div>
  </div>
<script src="https://use.fontawesome.com/fd0eb51299.js"></script>
