  <div class="section white no-border">
    <div class="container">
      <div class="row wide-table-sm-plus table-like-sm-plus">
        <div class="col-sm-12 tr-like-sm-plus {% if homepage is defined %}home{% endif %}">
          <div id="logo-container" class="td-like">
            {% if homepage is defined %}
              <div id="home-logo" class="hidden-xs">
                <img src="/images/home_logo.png" alt="{{ acfSettings.displaySiteName }}">
              </div>
              <img src="/images/Allpage_logo.png" alt="{{ acfSettings.displaySiteName }}" class="visible-xs">
            {% else %}
              <a href="/"><img src="/images/Allpage_logo.png" alt="{{ acfSettings.displaySiteName }}"></a>
            {% endif %}
          </div>
          <div class="header td-like-sm-plus">
            <div class="tagline">
              {{ acfSettings.tagLine }}       
            </div>
