    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for metatag in acfSettings.metaTags %}
      <meta name="{{ metatag.metatagName }}" content="{{ metatag.metatagContent }}" />
    {% endfor %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if entry.pageDescription is defined %}<meta name="description" content="{{ entry.pageDescription }}">{% elseif craft.request.firstSegment == 'events' %}<meta name="description" content="{{ acfSettings.eventsPageDescription }}">{% elseif craft.request.firstSegment == 'blog' %}<meta name="description" content="{{ acfSettings.blogPageDescription }}">{% endif %}

    <title>{% if entry.title is defined %}{{ entry.title }} - {% else %}{{ craft.request.firstSegment|capitalize }} - {% endif %}{{ acfSettings.displaySiteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />

    {{ acfSettings.headCode }}
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/sitewide.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
