  <div class="section white no-border">
    <div class="container">
      <div class="row wide-table table-like">
        <div class="col-sm-12 tr-like {% if homepage is defined %}home{% endif %}">
          <div id="logo-container" class="td-like">
            {% if homepage is defined %}
              <div id="home-logo" class="hidden-xs">
                <img src="/images/home_logo.png" alt="Atlanta Cycling Festival">
              </div>
              <img src="/images/Allpage_logo.png" alt="Atlanta Cycling Festival" class="visible-xs">
            {% else %}
              <a href="/"><img src="/images/Allpage_logo.png" alt="Atlanta Cycling Festival"></a>
            {% endif %}
          </div>
          <div class="header td-like">
            <div class="tagline">
              Let&nbsp;it&nbsp;be&nbsp;sexy
            </div>
