{% set fit300 = { mode: 'fit', width: 300, height:300 } %}
{% set fit200 = { mode: 'fit', width: 200, height: 200} %}
{% set fit100 = { mode: 'fit', width: 100, height:100 } %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}

    {% block head %}
    {% endblock %}

    {% if entry is defined %}
      <meta property="og:url" content="{{ entry.url }}" />
      <meta property="og:title" content="{{ entry.title }}" />
      <meta property="og:description" content="{{ entry.pageDescription }}" />
      {% if entry.facebookImage.first %}
        <meta property="og:image" content="{{ entry.facebookImage.first.getUrl() }}" />
      {% endif %}
    {% elseif craft.request.firstSegment == 'events' %}
      <meta property="og:image" content="{{ acfSettings.eventsFacebookImage.first.getUrl() }}" />
    {% endif %}
  </head>
  <body>
    {% include '_nav.html' %}
    <a name="top"></a>
    {% include '_header_start.html' %}
      <div class="submenu">
        {% block submenu %}
        {% endblock %}
      </div>
    {% include '_header_end.html' %}

    {% block blocks %}
    {% endblock %}

    {% include '_footer.html' %}

    {% include '_scripts.html' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
