{% set fit300 = { mode: 'fit', width: 300, height:300 } %}
{% set fit200 = { mode: 'fit', width: 200, height: 200} %}
{% set fit100 = { mode: 'fit', width: 100, height:100 } %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}

    {% block head %}
    {% endblock %}

  </head>
  <body>
    {% include '_nav.html' %}
    <a name="top"></a>
    {% include '_header_start.html' %}
      <div class="submenu">
        {% block submenu %}
        {% endblock %}
      </div>
    {% include '_header_end.html' %}

    {% block blocks %}
    {% endblock %}

    {% include '_footer.html' %}

    {% include '_scripts.html' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
