{% extends "_layout" %}
{% set homepage = 1 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/slick-theme.css"/>
{% endblock %}

{% block submenu %}
<ul class="homemenu">
  {% set firstDay = acfSettings.firstDay %}
  <li>{{ firstDay | date('F') }}</li>
  {% for i in 1..acfSettings.numberOfDays %}
    <li><a href="/events/#date=.{{firstDay|date('Mj')}}">{{firstDay|date('j')}}</a></li>
    {% set firstDay = firstDay|date_modify("+1 day") %}
  {% endfor %}
</ul>
{% endblock %}

{% block blocks %}
  {% set blockstyle = 'gray' %}
  {% include '_default_block_start.html' %}
    <div class="featured hidden-xs">
      <div class="hometext">
       {{ entry.body }}
      </div>
      {% set featured = [
        { mode: 'fit', width: 100, height:100 },
        { mode: 'fit', width: 150, height:150 },
        { mode: 'fit', width: 200, height:200 },
        { mode: 'fit', width: 250, height:250 } ]
         %}

      {% for e in entry.featuredPages %}
        <a href="{{ e.getUrl() }}"><div style='background-image: url({{ e.photo.first.getUrl(featured[loop.index0]) }})' class="no{{ loop.index0 }}"><div class="overlay">{{ e.title }}</div></div></a>
      {% endfor %}
    </div>
    <div class="featured-xs visible-xs-block">
      <div class="carousel-container">
        <div class="mobile-carousel">
          {% for e in entry.featuredPages %}
            <div class="one"><a href="{{ e.getUrl() }}"><div style='background-image: url({{ e.photo.first.getUrl(featured[3]) }})' class="mobile-feature"><div class="overlay">{{ e.title }}</div></div></a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% include '_default_block_end.html' %}
  {% include '_blocks' %}
  <div class="section orange">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <a name="signup"></a>
          <form>
          <h2>Signup</h2>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="name">Comment</label>
            <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="form-control" value="send">
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/assets/js/lib/slick.min.js"></script>
  <script type="text/javascript" src="/assets/js/home.js"></script>
{% endblock %}