{% extends "_layout" %}

{% block submenu %}
<h1>June</h1>
<ul>
  <li><a href="">11,</a><li>
  <li><a href="">12,</a></li>
  <li><a href="">13,</a></li>
  <li><a href="">14,</a></li>
  <li><a href="">15,</a></li>
  <li><a href="">16,</a></li> 
  <li><a href="">17</a></li>
</ul>
{% endblock %}

{% block blocks %}
  {% set blockstyle = 'gray' %}
  {% include '_default_block_start.html' %}
    <div class="featured hidden-xs">
      <div class="hometext">
       {{ entry.body }}
      </div>
      {% set featured = [
        { mode: 'fit', width: 100, height:100 },
        { mode: 'fit', width: 150, height:150 },
        { mode: 'fit', width: 200, height:200 },
        { mode: 'fit', width: 250, height:250 } ]
         %}

      {% for e in entry.featuredPages %}
        <a href="{{ e.getUrl() }}"><div style='background-image: url({{ e.photo.first.getUrl(featured[loop.index0]) }})' class="no{{ loop.index0 }}"><div class="overlay">{{ e.title }}</div></div></a>
      {% endfor %}
    </div>
    <div class="featured-xs visible-xs-inline-block">
      <h1>{{ entry.title }}</h1>
      <p>The mobile version will appear here.</p>
    </div>
  {% include '_default_block_end.html' %}
  {% include '_blocks' %}
  <div class="section blue">
    <div class="container">
      <a name="signup"></a>
      <h2>Signup</h2>
      <form>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" name="fname" id="fname">
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" id="lname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="name">Comment</label>
        <input type="textarea" class="form-control" name="comment" id="comment">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control">
      </div>
      </form>
    </div>
  </div>
{% endblock %}
