{% set homepage = 1 %}
{% extends "_layout" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/lib/slick-theme.css"/>
{% endblock %}

{% block submenu %}
<div class="homemenu">
  {% set firstDay = acfSettings.firstDay %}
  <div>{{ firstDay | date('F') }}</div>
  {% for i in 1..acfSettings.numberOfDays %}
    <div><a href="/events/#date=.{{firstDay|date('Mj')}}">{{firstDay|date('j')}}</a></div>
    {% set firstDay = firstDay|date_modify("+1 day") %}
  {% endfor %}
</div>
{% endblock %}

{% block blocks %}
  {% set blockstyle = 'gray homegray-xs visible-xs-block' %}
  {% include '_default_block_start.html' %}
    <div class="hometext-xs">
      {{ entry.body }}
    </div>
  {% include '_default_block_end.html' %} 
  {% set blockstyle = 'gray homegray' %}
  {% include '_default_block_start.html' %}
    <div class="featured hidden-xs">
      <div class="hometext">
       {{ entry.body }}
      </div>

      {% set featured = [
        { mode: 'fit', width: 80, height:80},
        { mode: 'fit', width: 170, height:170 },
        { mode: 'fit', width: 200, height:200 },
        { mode: 'fit', width: 240, height:240 },
        { mode: 'fit', width: 100, height:100 },
        { mode: 'fit', width: 300, height:300 },
        { mode: 'fit', width: 120, height:120 },
        { mode: 'fit', width: 250, height:250 },
        { mode: 'fit', width: 160, height:160 },
        { mode: 'fit', width: 110, height:110 }
         ]
         %}

      {% for e in entry.featuredPages %}
        {% if e.photo.first %}
          <a href="{{ e.getUrl() }}"><div style='background-image: url({{ e.photo.first.getUrl(featured[loop.index0]) }})' class="no{{ loop.index0 }}"><div class="overlay">{{ e.title }}</div></div></a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="featured-xs visible-xs-block">
      <div class="carousel-container">
        <div class="mobile-carousel">
          {% for e in entry.featuredPages %}
            {% if e.photo.first %}
              <div class="one"><a href="{{ e.getUrl() }}"><div style='background-image: url({{ e.photo.first.getUrl(featured[1]) }})' class="mobile-feature"><div class="overlay">{{ e.title }}</div></div></a></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% include '_default_block_end.html' %}
  {% include '_blocks' %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/assets/js/lib/slick.min.js"></script>
  <script type="text/javascript" src="/assets/js/home.js"></script>
{% endblock %}